.ghost {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 30% auto;
  border-radius: 50% / 50% 50% 0 0;
  background-color: #dd73e3;
  background: -webkit-radial-gradient(top, ellipse cover, rgba(238, 141, 220, 0.5) 0%, rgba(238, 141, 220, 0.5) 20%, rgba(221, 115, 227, 0.5) 51%, rgba(221, 115, 227, 0.5) 100%);
  background: -o-radial-gradient(top, ellipse cover, rgba(238, 141, 220, 0.5) 0%, rgba(238, 141, 220, 0.5) 20%, rgba(221, 115, 227, 0.5) 51%, rgba(221, 115, 227, 0.5) 100%);
  background: radial-gradient(top, ellipse cover, rgba(238, 141, 220, 0.5) 0%, rgba(238, 141, 220, 0.5) 20%, rgba(221, 115, 227, 0.5) 51%, rgba(221, 115, 227, 0.5) 100%);
  -webkit-animation: up 4s 0.5s ease-in-out infinite alternate;
  animation: up 4s 0.5s ease-in-out infinite alternate; }

.shadow {
  position: absolute;
  bottom: -70px;
  left: 5px;
  width: 168px;
  height: 17px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-animation: shadowMove 3.75s 0.25s alternate infinite ease-in-out;
  animation: shadowMove 3.75s 0.25s alternate infinite ease-in-out; }

.gooey {
  position: absolute;
  background-color: #dd73e3;
  background: -webkit-radial-gradient(top, ellipse cover, rgba(238, 141, 220, 0.5) 0%, rgba(238, 141, 220, 0.5) 20%, rgba(221, 115, 227, 0.5) 51%, rgba(221, 115, 227, 0.5) 100%);
  background: -o-radial-gradient(top, ellipse cover, rgba(238, 141, 220, 0.5) 0%, rgba(238, 141, 220, 0.5) 20%, rgba(221, 115, 227, 0.5) 51%, rgba(221, 115, 227, 0.5) 100%);
  background: radial-gradient(top, ellipse cover, rgba(238, 141, 220, 0.5) 0%, rgba(238, 141, 220, 0.5) 20%, rgba(221, 115, 227, 0.5) 51%, rgba(221, 115, 227, 0.5) 100%);
  -webkit-animation: slide 1s 0.5s ease-in-out alternate infinite;
  animation: slide 1s 0.5s ease-in-out alternate infinite; }
  .gooey::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 70px;
    right: -20px;
    background-color: #f7c3fa;
    border-radius: 50% / 20px 20px 0 0; }

.gooey.left {
  left: 0;
  bottom: -65px;
  width: 20px;
  height: 70px;
  border-radius: 50% / 0 0 20px 20px; }
  .gooey.left::before {
    top: -40%; }
  .gooey.left .out:before {
    -webkit-animation: off 2s linear infinite;
    animation: off 2s linear infinite; }

.gooey.mleft {
  left: 40px;
  bottom: -85px;
  width: 20px;
  height: 100px;
  border-radius: 50% / 0 0 20px 20px; }
  .gooey.mleft::before {
    top: -5%; }
  .gooey.mleft .out:before {
    -webkit-animation: off 2.5s 0.8s linear infinite;
    animation: off 2.5s 0.8s linear infinite; }

.gooey.mright {
  left: 80px;
  bottom: -35px;
  width: 20px;
  height: 40px;
  border-radius: 50% / 0 0 20px 20px; }
  .gooey.mright::before {
    top: -25%; }
  .gooey.mright .out:before {
    -webkit-animation: off 2.7s 0.75s ease-in-out infinite;
    animation: off 2.7s 0.75s ease-in-out infinite; }

.gooey.right {
  left: 120px;
  bottom: -65px;
  width: 20px;
  height: 70px;
  border-radius: 50% / 0 0 20px 20px; }
  .gooey.right::before {
    top: -20%; }
  .gooey.right .out:before {
    -webkit-animation: off 2.5s 1s ease infinite;
    animation: off 2.5s 1s ease infinite; }

.gooey.last {
  left: 160px;
  bottom: -35px;
  width: 20px;
  height: 40px;
  border-radius: 50% / 0 0 20px 20px; }
  .gooey.last .out:before {
    -webkit-animation: off 2s 0.6s ease-in-out infinite;
    animation: off 2s 0.6s ease-in-out infinite; }

.eyes {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 45px; }

.mouth {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-animation: mouthMove 3s ease infinite alternate;
  animation: mouthMove 3s ease infinite alternate; }

.out {
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%; }
  .out::before {
    content: '';
    position: absolute;
    background-color: #dd73e3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

@-webkit-keyframes off {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  10% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  20% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  25% {
    border-radius: 50% / 60% 60% 50% 50%;
    -webkit-transform: translateY(22px);
    transform: translateY(22px); }
  30% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    height: 30px;
    width: 17px;
    border-radius: 50% / 70% 70% 60% 60%; }
  40% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    height: 26px;
    width: 18px;
    border-radius: 50% / 70% 70% 50% 50%; }
  50% {
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    height: 23px;
    width: 19px;
    border-radius: 50% / 60% 60% 50% 50%; }
  60% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    height: 22px;
    width: 19px;
    border-radius: 50%; }
  70% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    height: 20px;
    width: 20px;
    border-radius: 50%; }
  80% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    border-radius: 50%;
    opacity: 0.9; }
  90% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    border-radius: 50%; }
  90% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    border-radius: 50%; }
  100% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    border-radius: 50%;
    opacity: 0; } }

@keyframes off {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  10% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  20% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  25% {
    border-radius: 50% / 60% 60% 50% 50%;
    -webkit-transform: translateY(22px);
    transform: translateY(22px); }
  30% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    height: 30px;
    width: 17px;
    border-radius: 50% / 70% 70% 60% 60%; }
  40% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    height: 26px;
    width: 18px;
    border-radius: 50% / 70% 70% 50% 50%; }
  50% {
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    height: 23px;
    width: 19px;
    border-radius: 50% / 60% 60% 50% 50%; }
  60% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    height: 22px;
    width: 19px;
    border-radius: 50%; }
  70% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    height: 20px;
    width: 20px;
    border-radius: 50%; }
  80% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    border-radius: 50%;
    opacity: 0.9; }
  90% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    border-radius: 50%; }
  90% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    border-radius: 50%; }
  100% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    border-radius: 50%;
    opacity: 0; } }

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-25px) rotate(2deg);
    transform: translateY(-25px) rotate(2deg); }
  100% {
    -webkit-transform: translateY(-40px) rotate(-2deg);
    transform: translateY(-40px) rotate(-2deg); } }

@keyframes up {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-25px) rotate(2deg);
    transform: translateY(-25px) rotate(2deg); }
  100% {
    -webkit-transform: translateY(-40px) rotate(-2deg);
    transform: translateY(-40px) rotate(-2deg); } }

@-webkit-keyframes mouthMove {
  from {
    width: 20px; }
  to {
    width: 40px; } }

@keyframes mouthMove {
  from {
    width: 20px; }
  to {
    width: 40px; } }

@-webkit-keyframes shadowMove {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@keyframes shadowMove {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@-webkit-keyframes slide {
  to {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%); } }

@keyframes slide {
  to {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%); } }
