.cust_favor {
  > .container {
    overflow: hidden;
    .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include media(lg) {
        flex-wrap: nowrap;
      }
      > .cust_listBox {
        width: 95%;
        @include media(lg) {
          width: 30%;
        }
      }
      //右邊的區域
      .favor {
        &_type {
          width: 95%;
        }
        //上面的南瓜雲跟進度條
        &_level {
          @include media(lg) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &_title {
            background-image: url('../img/cust/pumpkin.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
            line-height: 350px;
            height: 300px;

            @include media(lg) {
              flex: 1;
            }
          }
          &_show {
            @include media(lg) {
              flex: 1;
            }
            .cust_bar {
              width: 80%;
            }
          }
        }
        &_totalbox {
          @include media(lg) {
            display: flex;
            justify-content: space-around;
          }
        }
        //吸血鬼的票卷地方
        &_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-image: url('../img/cust/style.png');
          background-repeat: no-repeat;
          background-position: center;
          height: 600px;
          position: relative;
          > .pie_img {
            position: absolute;
            top: 25%;
          }
          > .favor_style {
            position: absolute;
            top: 58%;
            left: 42%;
            transform: translateX(-42%);
            writing-mode: vertical-lr;
            font-size: map-get($fz_size, h2);
          }
          > .favor_title {
            position: absolute;
            top: 12%;
          }
          &_close {
            @include media(md) {
              display: none;
            }
          }
          @include media(lg) {
            flex: 1;
          }
          > .mascot {
            opacity: 0;
            position: absolute;
            bottom: 0;
            transform: rotate(10deg) scale(0.7) translateX(70%) translateY(10%);
            transition: opacity 0.3s linear;
            @include media(md) {
              display: block;
              opacity: 1;
            }
          }
          &:hover {
            > .mascot {
              transform: rotate(10deg) scale(0.7) translateX(70%) translateY(10%);
              opacity: 1;
            }
          }

          // flex: 1;
        }
      }
    }
  }
}
