//////////////////////// 基本共用區域//////////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
@import 'reset';
@import 'fontbase';
@import 'mixin';
//////////////////////// 每頁共用區域//////////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
// 只會有header+footer
@import 'layout';
// @import 'layout-footer';

//////////////////////// 首頁設定區域//////////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
@import 'index-one';
@import 'index-product';
@import 'index-buytoghter';
@import 'index-car';
@import 'index-one';
//////////////////////// 團購設定區域//////////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
@import 'direction';
@import 'products';
@import 'public';

////////////////////////胖卡設定區域//////////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
@import 'car_location';
@import 'timeline';

//////////////////////// 商品設定區域//////////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
@import 'show';
@import 'normal';
@import 'groupchampion';
@import 'list';

//////////////////////// 投票設定區域//////////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
@import 'vot';
@import 'level';

//////////////////////// 產品內頁設定區域///////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
@import 'product_in';

//////////////////////// 客制設定區域//////////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////
@import 'custDacor';
@import 'custFavor';
@import 'custMsg';
@import 'custShared';

img {
  display: block;
  border: none;
}
//////////////////////// img def:block///////////////////////
//                                                         //
//                                                         //`
/////////////////////////////////////////////////////////////

//////////////////////// web-base-set////////////////////////
//                                                         //
//                                                         //
/////////////////////////////////////////////////////////////
* {
  font-size: 16px;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

////////////////////// container-base-set////////////////////
//                                                         //
//                                                         //
/////////////////////////////////////////////////////////////

.full-container {
  position: relative;
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  outline: 1px solid red;
  margin: 0 auto;
  &::after {
    display: block;
    content: '';
    clear: both;
    // transform: translateX();
  }
}
